<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|stripTags|trim}{/block}IS Nemocnice</title>

        <link rel="stylesheet" href="{$basePath}/css/screen.css">
        <link rel="shortcut icon" href="{$basePath}/skull.ico">
        {block head}{/block}
    </head>

    <body>
        <!-- Hlavicka -->
        <div id="header">
            <div id="header-inner">
                <div class="title"><a href="{link Homepage:}">IS Nemocnice</a></div>

                {if $user->isLoggedIn()}
                    <div class="user">
                        <span class="icon user"></span>
                        <a n:href="Zamestnanec:detail $user->getId()">{$user->getIdentity()->username}</a> |
                        <a n:href="Zamestnanec:password">Změna hesla</a> |
                        <a n:href="signOut!">Odhlásit se</a>
                    </div>
                {/if}
            </div>
        </div>

<!-- Zobrazeni obsahu -->
        <div id="container">

<!-- navigacni panel -->
            <div id="sidebar">
                {if $user->isLoggedIn()}
                    <h2>{$user->getIdentity()->jmeno} {$user->getIdentity()->prijmeni}</h2>

                    <h2>Menu</h2>
        	    {control menu:tree}
                    <h2>Mapa</h2>
        	    {control menu:map}
                {/if}
            </div>

            <!-- Vyzadovany obsah stranky -->
            <div id="content">
                <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
                {include #content}
            </div>

            <div id="footer">

            </div>
        </div>

        {block scripts}
        <script src="{$basePath}/js/jquery.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        {/block}
    </body>
</html>
